@model IEnumerable<Fall2025_Project3_jma33.Models.MovieActors>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie-Actor Mappings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table MovieActorTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="fa fa-pen" style="color: green;"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="fa-solid fa-bars" style="color: silver;"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="fa fa-xmark" style="color: red;"></i>
                </a>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
